header{
  width: 100%;
  height: 45px;
  border-bottom: 2px solid rgba(255,255,255,0.7);
}
.header-wrapper{
  max-width: 1140px;
  height: 100%;
  margin: auto;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-location{
  display: flex;
  align-items: center;
  p{
    text-transform: uppercase;
    &:first-child{
      margin-right: 5px;
      text-transform: inherit;
      font-weight: bold;
    }
  }
}