footer{
  width: 100%;
  height: 30px;
  padding: 0 50px;
  box-sizing: border-box;
  background-color:  rgba(183,243,255,1);
}
.footer-wrapper{
  width: 1140px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}