.card-icon{
  width: 100%;
  display: flex;
  justify-content: center;
  img{
    width: 30%;
  }
}
.card-info{
  width: 100%;
  display: flex;
  p{
    margin-top: 20px;
    margin-right: 10px;
  }
}